# ==============================
# FYP Project Custom Ignore
# ==============================

# Dataset folders
Dataset/
dataset/
YOLOv8 dataset_training/

# YOLOv8 training output
runs/
weights/
Model_Banana_epoch_train/
*.pt

# Video files
*.mp4
*.avi
*.mov

# Compressed large files
*.zip
*.rar
